.host__rating{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    
    .rating{
        width: 50%;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .etoile{
        width: 15px;
    }
}

/****************Desktop Version*********************/

@media (min-width:768px){
    .host__rating{
        width: 40%;
        flex-direction: column;
        align-items: flex-end;
        .rating{
            justify-content: flex-end;
            gap: 10px;
            margin-top: 32px;
            
            .etoile{
                width: 30px;
            }
        }
    }
}